@charset "UTF-8";
/**
* Stabilized Boilerplate
* ----------------------
*
* Built by Lightwell
* http://lightwellstudio.com
* 
* Authors:
* Nate Beatty | http://natebeatty.com
*
* Free to use under the MIT license.
* https://github.com/lightwell3d/Stabilized/blob/master/LICENSE
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

hr { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.container { position: relative; width: 1200px; margin: 0 auto; padding: 0; /* Basic Grid */ /* Offsets */ }
.container .column, .container .columns { float: left; display: inline; margin: 0 10px 20px; }
.container .centered { margin: 0 auto 20px; float: none; display: block; height: auto; overflow: auto; }
.container .row { margin-bottom: 20px; }
.container .one.column, .container .one.columns { width: 80px; }
.container .two.columns { width: 180px; }
.container .three.columns { width: 280px; }
.container .four.columns { width: 380px; }
.container .five.columns { width: 480px; }
.container .six.columns { width: 580px; }
.container .seven.columns { width: 680px; }
.container .eight.columns { width: 780px; }
.container .nine.columns { width: 880px; }
.container .ten.columns { width: 980px; }
.container .eleven.columns { width: 1080px; }
.container .twelve.columns { width: 1180px; }
.container .offset-by-one { margin-left: 110px; }
.container .offset-by-two { margin-left: 210px; }
.container .offset-by-three { margin-left: 310px; }
.container .offset-by-four { margin-left: 410px; }
.container .offset-by-five { margin-left: 510px; }
.container .offset-by-six { margin-left: 610px; }
.container .offset-by-seven { margin-left: 710px; }
.container .offset-by-eight { margin-left: 810px; }
.container .offset-by-nine { margin-left: 910px; }
.container .offset-by-ten { margin-left: 1010px; }
.container .offset-by-eleven { margin-left: 1110px; }

@media only screen and (min-width: 960px) and (max-width: 1199px) { .container { width: 960px; /* Basic Grid */ /* Offsets */ }
  .container .one.column, .container .one.columns { width: 60px; }
  .container .two.columns { width: 140px; }
  .container .three.columns { width: 220px; }
  .container .four.columns { width: 300px; }
  .container .five.columns { width: 380px; }
  .container .six.columns { width: 460px; }
  .container .seven.columns { width: 540px; }
  .container .eight.columns { width: 620px; }
  .container .nine.columns { width: 700px; }
  .container .ten.columns { width: 780px; }
  .container .eleven.columns { width: 860px; }
  .container .twelve.columns { width: 940px; }
  .container .offset-by-one { margin-left: 90px; }
  .container .offset-by-two { margin-left: 170px; }
  .container .offset-by-three { margin-left: 250px; }
  .container .offset-by-four { margin-left: 330px; }
  .container .offset-by-five { margin-left: 410px; }
  .container .offset-by-six { margin-left: 490px; }
  .container .offset-by-seven { margin-left: 570px; }
  .container .offset-by-eight { margin-left: 650px; }
  .container .offset-by-nine { margin-left: 730px; }
  .container .offset-by-ten { margin-left: 810px; }
  .container .offset-by-eleven { margin-left: 890px; } }
@media only screen and (min-width: 768px) and (max-width: 959px) { .container { width: 768px; /* Basic Grid */ /* Offsets */ }
  .container .one.column, .container .one.columns { width: 108px; margin-bottom: 20px; }
  .container .two.columns { width: 108px; }
  .container .three.columns { width: 172px; }
  .container .four.columns { width: 236px; }
  .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns { width: 748px; margin-bottom: 20px; }
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven { margin-left: 0; }
  .container .offset-by-eight { margin-left: 522px; }
  .container .offset-by-nine { margin-left: 586px; }
  .container .offset-by-ten { margin-left: 650px; }
  .container .offset-by-eleven { margin-left: 650px; } }
@media only screen and (min-width: 440px) and (max-width: 767px) { .container { width: 440px; /* Basic Grid */ /* Offsets */ }
  .container .one.column, .container .one.columns { width: 126.66667px; margin-bottom: 20px; }
  .container .two.columns, .container .three.columns { width: 200px; margin-bottom: 20px; }
  .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns { width: 420px; margin-bottom: 20px; }
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight { margin-left: 0; }
  .container .offset-by-nine, .container .offset-by-ten { margin-left: 230px; }
  .container .offset-by-eleven { margin-left: 303.33333px; } }
@media only screen and (min-width: 320px) and (max-width: 439px) { .container { width: 320px; /* Basic Grid */ /* Offsets */ }
  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns { width: 300px; margin-bottom: 20px; }
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven { margin-left: 0; } }
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before, .clearfix:after, .row:before, .row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.row:after, .clearfix:after { clear: both; }

.row, .clearfix { zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.ie.ie8 .container { width: 960px; /* Basic Grid */ /* Offsets */ }
.ie.ie8 .container .one.column, .ie.ie8 .container .one.columns { width: 60px; }
.ie.ie8 .container .two.columns { width: 140px; }
.ie.ie8 .container .three.columns { width: 220px; }
.ie.ie8 .container .four.columns { width: 300px; }
.ie.ie8 .container .five.columns { width: 380px; }
.ie.ie8 .container .six.columns { width: 460px; }
.ie.ie8 .container .seven.columns { width: 540px; }
.ie.ie8 .container .eight.columns { width: 620px; }
.ie.ie8 .container .nine.columns { width: 700px; }
.ie.ie8 .container .ten.columns { width: 780px; }
.ie.ie8 .container .eleven.columns { width: 860px; }
.ie.ie8 .container .twelve.columns { width: 940px; }
.ie.ie8 .container .offset-by-one { margin-left: 90px; }
.ie.ie8 .container .offset-by-two { margin-left: 170px; }
.ie.ie8 .container .offset-by-three { margin-left: 250px; }
.ie.ie8 .container .offset-by-four { margin-left: 330px; }
.ie.ie8 .container .offset-by-five { margin-left: 410px; }
.ie.ie8 .container .offset-by-six { margin-left: 490px; }
.ie.ie8 .container .offset-by-seven { margin-left: 570px; }
.ie.ie8 .container .offset-by-eight { margin-left: 650px; }
.ie.ie8 .container .offset-by-nine { margin-left: 730px; }
.ie.ie8 .container .offset-by-ten { margin-left: 810px; }
.ie.ie8 .container .offset-by-eleven { margin-left: 890px; }

.navbar { position: relative; min-height: 100px; height: 100%; padding: 0 20px; background: white; /** Full size styles **/ }
.navbar #toggle, .navbar .toggle { display: none; z-index: 100; }
.navbar .nav { display: block; }
.navbar ul.menu { height: 100%; text-align: center; margin: 0; padding: 0; }
.navbar ul.menu li { list-style: none; background: white; display: inline-block; }
.navbar ul.menu li a { height: 100%; display: block; padding: 42px 20px; text-decoration: none; font-weight: normal; font-size: 16px; color: #666666; line-height: 1; }
.navbar ul.menu li a:hover { background: #dddddd; color: #222222; }
@media only screen and (max-width: 768px) { .navbar .nav { float: right; }
  .navbar ul.menu { text-align: left; display: none; opacity: 0; position: absolute; right: 0; height: auto; width: 100%; margin: 0; background: #eee; z-index: 100; }
  .navbar ul.menu li { display: block; height: auto; width: 100%; margin: 0; float: left; }
  .navbar ul.menu li a { display: block; height: auto; margin: 0; padding: 21px 20px; width: 100%; text-decoration: none; }
  .navbar .toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
  .navbar .toggle:after { content: "☰"; display: block; width: 50px; margin: 34px 0; padding: 0 20px; text-align: center; font-size: 32px; color: #ccc; }
  .navbar #toggle:checked + div .menu { display: block; opacity: 1; }
  .navbar #toggle:checked + div .toggle:after { content: "✕"; } }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans"; font-weight: 300; color: #444444; text-rendering: optimizeLegibility; padding-top: 0.2205em; line-height: 0.93319em; padding-bottom: 0.2205em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #d04526; }

h1 { font-size: 46px; }
h1.xlarge { font-size: 60px; }
h1.xxlarge { font-size: 65px; }
h1.absurd { font-size: 70px; }

h2 { font-size: 35px; }

h3 { font-size: 28px; }

h4 { font-size: 21px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

p { font-family: "Open Sans"; font-weight: 400; font-size: 16px; margin-bottom: 10.5px; line-height: 1.3125em; }
p.lead { font-size: 17.5px; margin-bottom: 18px; }

a { color: #d04526; text-decoration: none; outline: 0; line-height: inherit; }
a:hover { color: #c03d20; }

li ul, li ol { margin: 0; }

ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

@media only screen and (min-width: 1200px) { .show-for-large-only, .show-for-medium-only, .show-for-small-only, .show-for-xsmall-only, .show-for-large-down, .show-for-medium-down, .show-for-small-down, .show-for-xsmall-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-large-up, .hide-for-medium-up, .hide-for-small-up, .hide-for-xsmall-up, .hide-for-xlarge-down { display: none !important; } }
@media only screen and (min-width: 960px) and (max-width: 1199px) { .show-for-xlarge-only, .show-for-medium-only, .show-for-small-only, .show-for-xsmall-only, .show-for-xlarge-up, .show-for-medium-down, .show-for-small-down, .show-for-xsmall-down, .hide-for-large-only, .hide-for-large-up, .hide-for-medium-up, .hide-for-small-up, .hide-for-xsmall-up, .hide-for-xlarge-down, .hide-for-large-down { display: none !important; } }
@media only screen and (min-width: 768px) and (max-width: 959px) { .show-for-xlarge-only, .show-for-large-only, .show-for-small-only, .show-for-xsmall-only, .show-for-xlarge-up, .show-for-large-up, .show-for-small-down, .show-for-xsmall-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-small-up, .hide-for-xsmall-up, .hide-for-xlarge-down, .hide-for-large-down, .hide-for-medium-down { display: none !important; } }
@media only screen and (min-width: 440px) and (max-width: 767px) { .show-for-xlarge-only, .show-for-large-only, .show-for-medium-only, .show-for-xsmall-only, .show-for-xlarge-up, .show-for-large-up, .show-for-medium-up, .show-for-xsmall-down, .hide-for-small-only, .hide-for-small-up, .hide-for-xsmall-up, .hide-for-xlarge-down, .hide-for-large-down, .hide-for-medium-down, .hide-for-small-down { display: none !important; } }
@media only screen and (min-width: 320px) and (max-width: 439px) { .show-for-xlarge-only, .show-for-large-only, .show-for-medium-only, .show-for-small-only, .show-for-xlarge-up, .show-for-large-up, .show-for-medium-up, .show-for-small-up, .hide-for-xsmall-only, .hide-for-xsmall-up, .hide-for-xlarge-down, .hide-for-large-down, .hide-for-medium-down, .hide-for-small-down, .hide-for-xsmall-down { display: none !important; } }
