@charset "UTF-8";
/*
* Stabilized Boilerplate v2.1.0
* ----------------------
*
* Built by Lightwell
* http://lightwellstudio.com
* 
* Authors:
* Nate Beatty | http://natebeatty.com
*
* Free to use under the MIT license.
* https://github.com/lightwell3d/Stabilized/blob/master/LICENSE
*/
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../app/sass/_base.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 4, ../app/sass/_grid.scss */
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  /* Basic Grid */
  /* Offsets */
}
/* line 12, ../app/sass/_grid.scss */
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin: 0;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 20, ../app/sass/_grid.scss */
.container .column.centered,
.container .columns.centered {
  margin: 0 auto;
  float: none;
  display: block;
  height: auto;
  content: "";
  display: table;
  clear: both;
}
/* line 32, ../app/sass/_grid.scss */
.container .row {
  margin-bottom: 0;
}
/* line 36, ../app/sass/_grid.scss */
.container .one.column,
.container .one.columns {
  width: 8.33%;
}
/* line 37, ../app/sass/_grid.scss */
.container .two.columns {
  width: 16.66%;
}
/* line 38, ../app/sass/_grid.scss */
.container .three.columns {
  width: 25.00%;
}
/* line 39, ../app/sass/_grid.scss */
.container .four.columns {
  width: 33.33%;
}
/* line 40, ../app/sass/_grid.scss */
.container .five.columns {
  width: 41.66%;
}
/* line 41, ../app/sass/_grid.scss */
.container .six.columns {
  width: 50.00%;
}
/* line 42, ../app/sass/_grid.scss */
.container .seven.columns {
  width: 58.33%;
}
/* line 43, ../app/sass/_grid.scss */
.container .eight.columns {
  width: 66.66%;
}
/* line 44, ../app/sass/_grid.scss */
.container .nine.columns {
  width: 75.00%;
}
/* line 45, ../app/sass/_grid.scss */
.container .ten.columns {
  width: 83.33%;
}
/* line 46, ../app/sass/_grid.scss */
.container .eleven.columns {
  width: 91.66%;
}
/* line 47, ../app/sass/_grid.scss */
.container .twelve.columns {
  width: 100%;
}
/* line 50, ../app/sass/_grid.scss */
.container .offset-by-one {
  margin-left: 8.33%;
}
/* line 51, ../app/sass/_grid.scss */
.container .offset-by-two {
  margin-left: 16.66%;
}
/* line 52, ../app/sass/_grid.scss */
.container .offset-by-three {
  margin-left: 24.99%;
}
/* line 53, ../app/sass/_grid.scss */
.container .offset-by-four {
  margin-left: 33.32%;
}
/* line 54, ../app/sass/_grid.scss */
.container .offset-by-five {
  margin-left: 41.65%;
}
/* line 55, ../app/sass/_grid.scss */
.container .offset-by-six {
  margin-left: 49.98%;
}
/* line 56, ../app/sass/_grid.scss */
.container .offset-by-seven {
  margin-left: 58.31%;
}
/* line 57, ../app/sass/_grid.scss */
.container .offset-by-eight {
  margin-left: 66.64%;
}
/* line 58, ../app/sass/_grid.scss */
.container .offset-by-nine {
  margin-left: 74.97%;
}
/* line 59, ../app/sass/_grid.scss */
.container .offset-by-ten {
  margin-left: 83.3%;
}
/* line 60, ../app/sass/_grid.scss */
.container .offset-by-eleven {
  margin-left: 91.63%;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  /* line 67, ../app/sass/_grid.scss */
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 76, ../app/sass/_grid.scss */
  .container {
    width: 768px;
    /* Basic Grid */
    /* Offsets */
  }
  /* line 82, ../app/sass/_grid.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns {
    width: 50.00%;
    padding-bottom: 20px;
  }
  /* line 91, ../app/sass/_grid.scss */
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns {
    width: 100%;
    padding-bottom: 20px;
  }
  /* line 101, ../app/sass/_grid.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight {
    margin-left: 0;
  }
  /* line 104, ../app/sass/_grid.scss */
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 440px) and (max-width: 767px) {
  /* line 112, ../app/sass/_grid.scss */
  .container {
    width: 440px;
    /* Basic Grid */
    /* Offsets */
  }
  /* line 118, ../app/sass/_grid.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns {
    width: 50.00%;
    padding-bottom: 20px;
  }
  /* line 127, ../app/sass/_grid.scss */
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns {
    width: 100%;
    padding-bottom: 20px;
  }
  /* line 137, ../app/sass/_grid.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight {
    margin-left: 0;
  }
  /* line 140, ../app/sass/_grid.scss */
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 439px) {
  /* line 148, ../app/sass/_grid.scss */
  .container {
    width: 320px;
    /* Basic Grid */
    /* Offsets */
  }
  /* line 163, ../app/sass/_grid.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns {
    width: 100%;
    padding-bottom: 20px;
  }
  /* line 176, ../app/sass/_grid.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven {
    margin-left: 0;
  }
}
/* line 182, ../app/sass/_grid.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 189, ../app/sass/_grid.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 197, ../app/sass/_grid.scss */
.row:after,
.clearfix:after {
  clear: both;
}

/* line 200, ../app/sass/_grid.scss */
.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 204, ../app/sass/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 219, ../app/sass/_grid.scss */
.ie.ie8 .container {
  width: 960px;
}

/* line 5, ../app/sass/_block-grid.scss */
ul.block-grid {
  font-size: 0;
  list-style-type: none;
  text-align: left;
}
/* line 10, ../app/sass/_block-grid.scss */
ul.block-grid li {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 21, ../app/sass/_block-grid.scss */
ul.block-grid li img {
  width: 100%;
}
/* line 28, ../app/sass/_block-grid.scss */
ul.two-blocks li {
  width: 50%;
}
/* line 33, ../app/sass/_block-grid.scss */
ul.three-blocks li {
  width: 33.33%;
}
/* line 38, ../app/sass/_block-grid.scss */
ul.four-blocks li {
  width: 25%;
}
/* line 43, ../app/sass/_block-grid.scss */
ul.five-blocks li {
  width: 20%;
}
/* line 48, ../app/sass/_block-grid.scss */
ul.six-blocks li {
  width: 16.66667%;
}
/* line 53, ../app/sass/_block-grid.scss */
ul.seven-blocks li {
  width: 14.28571%;
}
/* line 58, ../app/sass/_block-grid.scss */
ul.eight-blocks li {
  width: 12.5%;
}
/* line 63, ../app/sass/_block-grid.scss */
ul.nine-blocks li {
  width: 11.11111%;
}
/* line 68, ../app/sass/_block-grid.scss */
ul.ten-blocks li {
  width: 10%;
}
/* line 73, ../app/sass/_block-grid.scss */
ul.eleven-blocks li {
  width: 9.09091%;
}
/* line 78, ../app/sass/_block-grid.scss */
ul.twelve-blocks li {
  width: 8.33333%;
}

@media only screen and (max-width: 767px) {
  /* line 86, ../app/sass/_block-grid.scss */
  ul[class*='blocks'].block-grid li {
    width: 100%;
  }
}
/* line 3, ../app/sass/_menu.scss */
.navbar {
  position: relative;
  min-height: 28px;
  height: 100%;
  padding: 0 20px;
  background: white;
  /** Full size styles **/
}
/* line 10, ../app/sass/_menu.scss */
.navbar #toggle, .navbar .toggle {
  display: none;
  z-index: 100;
}
/* line 15, ../app/sass/_menu.scss */
.navbar .nav {
  display: block;
}
/* line 20, ../app/sass/_menu.scss */
.navbar ul.menu {
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0;
}
/* line 27, ../app/sass/_menu.scss */
.navbar ul.menu li {
  list-style: none;
  background: white;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 35, ../app/sass/_menu.scss */
.navbar ul.menu li a {
  height: 100%;
  display: block;
  padding: 7px 20px;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  line-height: 1;
  border-left: 1px solid #666666;
}
/* line 47, ../app/sass/_menu.scss */
.navbar ul.menu li a.first {
  border-left: none;
}
/* line 49, ../app/sass/_menu.scss */
.navbar ul.menu li a:hover {
  background: #dddddd;
  color: #222222;
}
@media only screen and (max-width: 767px) {
  /* line 62, ../app/sass/_menu.scss */
  .navbar .nav {
    width: 100%;
  }
  /* line 67, ../app/sass/_menu.scss */
  .navbar ul.menu {
    text-align: left;
    display: none;
    opacity: 0;
    position: absolute;
    right: 0;
    height: auto;
    width: 100%;
    margin: 0;
    background: white;
    z-index: 100;
  }
  /* line 79, ../app/sass/_menu.scss */
  .navbar ul.menu li {
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    float: left;
    overflow: hidden;
  }
  /* line 87, ../app/sass/_menu.scss */
  .navbar ul.menu li a {
    display: block;
    height: auto;
    margin: 0;
    border-left: none;
    padding: 16px 10px;
    width: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 99, ../app/sass/_menu.scss */
  .navbar .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  /* line 117, ../app/sass/_menu.scss */
  .navbar .toggle:after {
    content: "☰";
    display: block;
    width: 100%;
    margin: 0px 0;
    padding: 0;
    text-align: center;
    font-size: 28px;
    color: #666666;
  }
  /* line 128, ../app/sass/_menu.scss */
  .navbar #toggle:checked + div .menu {
    display: block;
    opacity: 1;
  }
  /* line 132, ../app/sass/_menu.scss */
  .navbar #toggle:checked + div .toggle:after {
    content: "✕";
  }
}

/* line 4, ../app/sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 300;
  color: #444444;
  text-rendering: optimizeLegibility;
  padding-top: 0.2205em;
  line-height: 0.93319em;
  padding-bottom: 0.2205em;
}
/* line 12, ../app/sass/_typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #d04526;
}

/* line 17, ../app/sass/_typography.scss */
h1 {
  font-size: 46px;
}
/* line 19, ../app/sass/_typography.scss */
h1.xlarge {
  font-size: 60px;
}
/* line 22, ../app/sass/_typography.scss */
h1.xxlarge {
  font-size: 65px;
}
/* line 25, ../app/sass/_typography.scss */
h1.absurd {
  font-size: 70px;
}

/* line 29, ../app/sass/_typography.scss */
h2 {
  font-size: 35px;
}

/* line 30, ../app/sass/_typography.scss */
h3 {
  font-size: 28px;
}

/* line 31, ../app/sass/_typography.scss */
h4 {
  font-size: 21px;
}

/* line 32, ../app/sass/_typography.scss */
h5 {
  font-size: 16px;
}

/* line 33, ../app/sass/_typography.scss */
h6 {
  font-size: 14px;
}

/* line 38, ../app/sass/_typography.scss */
p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10.5px;
  line-height: 1.3125em;
}
/* line 44, ../app/sass/_typography.scss */
p.left {
  text-align: left;
}
/* line 45, ../app/sass/_typography.scss */
p.right {
  text-align: right;
}
/* line 46, ../app/sass/_typography.scss */
p.center {
  text-align: center;
}
/* line 47, ../app/sass/_typography.scss */
p.lead {
  font-size: 17.5px;
  margin-bottom: 18px;
}

/* line 53, ../app/sass/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 54, ../app/sass/_typography.scss */
pre, code, tt {
  font: 14px "andale mono", "lucida console", monospace;
  background: #eee;
}

/* line 62, ../app/sass/_typography.scss */
a {
  color: #d04526;
  text-decoration: none;
  outline: 0;
  line-height: inherit;
}
/* line 67, ../app/sass/_typography.scss */
a:hover {
  color: #c03d20;
}

/* line 75, ../app/sass/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 76, ../app/sass/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 77, ../app/sass/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 78, ../app/sass/_typography.scss */
ol {
  list-style-type: decimal;
}

@media only screen and (min-width: 1200px) {
  /* line 60, ../app/sass/_visibility.scss */
  .show-for-large-only,
  .show-for-medium-only,
  .show-for-small-only,
  .show-for-xsmall-only,
  .show-for-large-down,
  .show-for-medium-down,
  .show-for-small-down,
  .show-for-xsmall-down,
  .hide-for-xlarge-only,
  .hide-for-xlarge-up,
  .hide-for-large-up,
  .hide-for-medium-up,
  .hide-for-small-up,
  .hide-for-xsmall-up,
  .hide-for-xlarge-down {
    display: none !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  /* line 86, ../app/sass/_visibility.scss */
  .show-for-xlarge-only,
  .show-for-medium-only,
  .show-for-small-only,
  .show-for-xsmall-only,
  .show-for-xlarge-up,
  .show-for-medium-down,
  .show-for-small-down,
  .show-for-xsmall-down,
  .hide-for-large-only,
  .hide-for-large-up,
  .hide-for-medium-up,
  .hide-for-small-up,
  .hide-for-xsmall-up,
  .hide-for-xlarge-down,
  .hide-for-large-down {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 112, ../app/sass/_visibility.scss */
  .show-for-xlarge-only,
  .show-for-large-only,
  .show-for-small-only,
  .show-for-xsmall-only,
  .show-for-xlarge-up,
  .show-for-large-up,
  .show-for-small-down,
  .show-for-xsmall-down,
  .hide-for-medium-only,
  .hide-for-medium-up,
  .hide-for-small-up,
  .hide-for-xsmall-up,
  .hide-for-xlarge-down,
  .hide-for-large-down,
  .hide-for-medium-down {
    display: none !important;
  }
}
@media only screen and (min-width: 440px) and (max-width: 767px) {
  /* line 138, ../app/sass/_visibility.scss */
  .show-for-xlarge-only,
  .show-for-large-only,
  .show-for-medium-only,
  .show-for-xsmall-only,
  .show-for-xlarge-up,
  .show-for-large-up,
  .show-for-medium-up,
  .show-for-xsmall-down,
  .hide-for-small-only,
  .hide-for-small-up,
  .hide-for-xsmall-up,
  .hide-for-xlarge-down,
  .hide-for-large-down,
  .hide-for-medium-down,
  .hide-for-small-down {
    display: none !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 439px) {
  /* line 163, ../app/sass/_visibility.scss */
  .show-for-xlarge-only,
  .show-for-large-only,
  .show-for-medium-only,
  .show-for-small-only,
  .show-for-xlarge-up,
  .show-for-large-up,
  .show-for-medium-up,
  .show-for-small-up,
  .hide-for-xsmall-only,
  .hide-for-xsmall-up,
  .hide-for-xlarge-down,
  .hide-for-large-down,
  .hide-for-medium-down,
  .hide-for-small-down,
  .hide-for-xsmall-down {
    display: none !important;
  }
}
