doctype html

head

	link(rel="stylesheet",type="text/css",href="css/Stabilized.css")
	title Stabilized | A CSS Boilerplate by Lightwell

	style
		| .columns, .column { background: #eee; text-align: center;}

body
	.container
		.row
			.six.columns: p six cols
			.six.columns: p six cols
		.row
			.four.columns: p four cols
			.four.columns: p four cols
			.four.columns: p four cols
			.four.columns: p four cols
		.row
			.three.columns: p three cols
			.three.columns: p three cols
			.three.columns: p three cols
		.row
			.two.columns: p two cols
			.two.columns: p two cols
			.two.columns: p two cols
			.two.columns: p two cols
			.two.columns: p two cols
			.two.columns: p two cols
		.row
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col
			.one.column: p one col