// Base Grid
// ==============================================

.container {

	position: relative;
	width: $row-max-width;
	margin: 0 auto;
	padding: 0;

	.column, 
	.columns {
		float: left;
		display: inline;

		margin: 0;
		padding: 0 ($gutter-in-px / 2);
		@include box-sizing(border-box);

		&.centered {
			margin: 0 auto;
			float: none;
			display: block;
			height: auto;

			content: "";
			display: table;
			clear: both;
		}
	}

	.row { margin-bottom: $gutter-in-px; }

	/* Basic Grid */
	.one.column, 
	.one.columns       { width: 8.34%; }
	.two.columns       { width: 16.67%; }
	.three.columns     { width: 25.00%; }
	.four.columns      { width: 33.34%; }
	.five.columns      { width: 41.67%; }
	.six.columns       { width: 50.00%; }
	.seven.columns     { width: 58.34%; }
	.eight.columns     { width: 66.67%; }
	.nine.columns      { width: 75.00%; }
	.ten.columns       { width: 83.34%; }
	.eleven.columns    { width: 91.67%; }
	.twelve.columns    { width: 100%; }

	/* Offsets */
	.offset-by-one      { margin-left: 1 * 8.34%; }
	.offset-by-two      { margin-left: 2 * 8.34%; }
	.offset-by-three    { margin-left: 3 * 8.34%; }
	.offset-by-four     { margin-left: 4 * 8.34%; }
	.offset-by-five     { margin-left: 5 * 8.34%; }
	.offset-by-six      { margin-left: 6 * 8.34%; }
	.offset-by-seven    { margin-left: 7 * 8.34%; }
	.offset-by-eight    { margin-left: 8 * 8.34%; }
	.offset-by-nine     { margin-left: 9 * 8.34%; }
	.offset-by-ten      { margin-left: 10 * 8.34%; }
	.offset-by-eleven   { margin-left: 11 * 8.34%; }
}

// Large Grid
// ==============================================

@media only screen and (min-width: $row-large-size) and (max-width: $row-xlarge-size - 1) {
	.container {
		width: $row-large-size;
	}
}

// Medium Grid
// ==============================================

@media only screen and (min-width: $row-medium-size) and (max-width: $row-large-size - 1) {
	.container {
		width: $row-medium-size;
		/* Basic Grid */
		.one.column, 
		.one.columns,
		.two.columns,
		.three.columns		{ width: 50.00%; padding-bottom: $gutter-in-px; }
		.four.columns,
		.five.columns,
		.six.columns,
		.seven.columns,
		.eight.columns,
		.nine.columns,
		.ten.columns,
		.eleven.columns,
		.twelve.columns		{ width: 100%; padding-bottom: $gutter-in-px; }

		/* Offsets */
		.offset-by-one,
		.offset-by-two,
		.offset-by-three,
		.offset-by-four,
		.offset-by-five,
		.offset-by-six,
		.offset-by-seven,
		.offset-by-eight    { margin-left: 0; }
		.offset-by-nine,
		.offset-by-ten,
		.offset-by-eleven   { margin-left: 50%; }
	}
}

// Small Grid
// ==============================================

@media only screen and (min-width: $row-small-size) and (max-width: $row-medium-size - 1) {
	.container {
		width: $row-small-size;
		/* Basic Grid */
		.one.column, 
		.one.columns,
		.two.columns,
		.three.columns		{ width: 50.00%; padding-bottom: $gutter-in-px; }
		.four.columns,
		.five.columns,
		.six.columns,
		.seven.columns,
		.eight.columns,
		.nine.columns,
		.ten.columns,
		.eleven.columns,
		.twelve.columns		{ width: 100%; padding-bottom: $gutter-in-px; }

		/* Offsets */
		.offset-by-one,
		.offset-by-two,
		.offset-by-three,
		.offset-by-four,
		.offset-by-five,
		.offset-by-six,
		.offset-by-seven,
		.offset-by-eight    { margin-left: 0; }
		.offset-by-nine,
		.offset-by-ten,
		.offset-by-eleven   { margin-left: 50%; }
	}
}

// xSmall Grid
// ==============================================

@media only screen and (min-width: $row-xsmall-size) and (max-width: $row-small-size - 1) {
	.container {
		width: $row-xsmall-size;
		/* Basic Grid */
		.one.column, 
		.one.columns,
		.two.columns,
		.three.columns,
		.four.columns,
		.five.columns,
		.six.columns,
		.seven.columns,
		.eight.columns,
		.nine.columns,
		.ten.columns,
		.eleven.columns,
		.twelve.columns     { width: 100%; padding-bottom: $gutter-in-px;}

		/* Offsets */
		.offset-by-one,
		.offset-by-two,
		.offset-by-three,
		.offset-by-four,
		.offset-by-five,
		.offset-by-six,
		.offset-by-seven,
		.offset-by-eight,
		.offset-by-nine,
		.offset-by-ten,
		.offset-by-eleven   { margin-left: 0; }
	}
}

// Clearing
// ==============================================
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0; }
		.row:after,
		.clearfix:after {
			clear: both; }
			.row,
			.clearfix {
				zoom: 1; }

				/* You can also use a <br class="clear" /> to clear columns */
				.clear {
					clear: both;
					display: block;
					overflow: hidden;
					visibility: hidden;
					width: 0;
					height: 0;
				}

// IE Hacks
// ==============================================

.ie.ie8 {
	// If IE 8, limit everything to 960 px, or whatever the large screen size is
	// Just don't allow xlarge screen sizes as nothing will respond to media queries
	.container {
		width: $row-large-size;
	}
}