.show-for-xlarge-only {}
.show-for-large-only {}
.show-for-medium-only {}
.show-for-small-only {}
.show-for-xsmall-only {}

.show-for-xlarge-up {}
.show-for-large-up {}
.show-for-medium-up {}
.show-for-small-up {}
.show-for-xsmall-up {}

.show-for-xlarge-down {}
.show-for-large-down {}
.show-for-medium-down {}
.show-for-small-down {}
.show-for-xsmall-down {}

.hide-for-xlarge-only {}
.hide-for-large-only {}
.hide-for-medium-only {}
.hide-for-small-only {}
.hide-for-xsmall-only {}

.hide-for-xlarge-up {}
.hide-for-large-up {}
.hide-for-medium-up {}
.hide-for-small-up {}
.hide-for-xsmall-up {}

.hide-for-xlarge-down {}
.hide-for-large-down {}
.hide-for-medium-down {}
.hide-for-small-down {}
.hide-for-xsmall-down {}


// XLarge Screens
// ==============================================
@media only screen and (min-width: $row-xlarge-size) {

	.show-for-large-only,
	.show-for-medium-only,
	.show-for-small-only,
	.show-for-xsmall-only,

	.show-for-large-down,
	.show-for-medium-down,
	.show-for-small-down,
	.show-for-xsmall-down,

	.hide-for-xlarge-only,

	.hide-for-xlarge-up,
	.hide-for-large-up,
	.hide-for-medium-up,
	.hide-for-small-up,
	.hide-for-xsmall-up,

	.hide-for-xlarge-down { display: none !important; }
}

// Large Screens
// ==============================================
@media only screen and (min-width: $row-large-size) and (max-width: $row-xlarge-size - 1) {

	.show-for-xlarge-only,
	.show-for-medium-only,
	.show-for-small-only,
	.show-for-xsmall-only,

	.show-for-xlarge-up,

	.show-for-medium-down,
	.show-for-small-down,
	.show-for-xsmall-down,

	.hide-for-large-only,

	.hide-for-large-up,
	.hide-for-medium-up,
	.hide-for-small-up,
	.hide-for-xsmall-up,

	.hide-for-xlarge-down,
	.hide-for-large-down { display: none !important; }
}

// Medium Screens
// ==============================================
@media only screen and (min-width: $row-medium-size) and (max-width: $row-large-size - 1) {

	.show-for-xlarge-only,
	.show-for-large-only,
	.show-for-small-only,
	.show-for-xsmall-only,

	.show-for-xlarge-up,
	.show-for-large-up,

	.show-for-small-down,
	.show-for-xsmall-down,

	.hide-for-medium-only,

	.hide-for-medium-up,
	.hide-for-small-up,
	.hide-for-xsmall-up,

	.hide-for-xlarge-down,
	.hide-for-large-down,
	.hide-for-medium-down { display: none !important; }
}

// Small Screens
// ==============================================
@media only screen and (min-width: $row-small-size) and (max-width: $row-medium-size - 1) {

	.show-for-xlarge-only,
	.show-for-large-only,
	.show-for-medium-only,
	.show-for-xsmall-only,

	.show-for-xlarge-up,
	.show-for-large-up,
	.show-for-medium-up,

	.show-for-xsmall-down,

	.hide-for-small-only,

	.hide-for-small-up,
	.hide-for-xsmall-up,

	.hide-for-xlarge-down,
	.hide-for-large-down,
	.hide-for-medium-down,
	.hide-for-small-down { display: none !important; }
}

// XSmall Screens
// ==============================================
@media only screen and (min-width: $row-xsmall-size) and (max-width: $row-small-size - 1) {

	.show-for-xlarge-only,
	.show-for-large-only,
	.show-for-medium-only,
	.show-for-small-only,

	.show-for-xlarge-up,
	.show-for-large-up,
	.show-for-medium-up,
	.show-for-small-up,

	.hide-for-xsmall-only,

	.hide-for-xsmall-up,

	.hide-for-xlarge-down,
	.hide-for-large-down,
	.hide-for-medium-down,
	.hide-for-small-down,
	.hide-for-xsmall-down { display: none !important; }
}